.head {
    z-index: 1;
    background-color: rgba(34, 0, 187, 0.301);
    position: absolute;
    padding: 1rem;
    color: #fff;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -5%);
    border-radius: 10px;
    width: 50%;

    img {
        width: 4rem;
        height: 4rem;
        background-color: #fff;
        border-radius: 1000px;
        box-shadow: 0px 10px 20px 3px rgba(109, 0, 73, 0.33);
        position: absolute;
        top: -15%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    h1 {
        font-size: 2rem;
        color: rgb(255, 96, 184);
        -webkit-text-stroke: 1.5px rgb(255, 255, 255);
        margin-top: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .head {
        width: 80%;
        font-size: 0.6rem;
        h1 {
            font-size: 1.5rem;
        }

        img {
            width: 3rem;
            height: 3rem;
        }
    }
}
