.App {
  text-align: center;
  height: 100vh;
  background-image: url("back.svg");
  background-repeat: repeat;
  background-size: 300px auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  color: #fff;
  -webkit-text-stroke: 1px #5769f2;
  font-size: 1.5rem;
  font-weight: bold;
}

.brokenRobo{
  width: 80%;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
