*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html {
  margin: 0;
  font-family: "Hind Siliguri", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#feedback{
  font-family: "Hind Siliguri", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}